<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= name %> - KuubStream</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/site.css">
</head>
<body>
	<div id="container" data-channel="<%= name %>">
		<div id="main-col">
			<div id="player">Please wait while the player loads</div>
		</div>
		<div id="right-col">
			<% include chat.ejs %>
		</div>
	</div>

	<script src="/js/jquery.2.1.3.min.js"></script>
	<script src="/js/jquery.trackpad-scroll-emulator.min.js"></script>
	<script src="/jwplayer-7.2.4/jwplayer.js"></script>
	<!--<script src="//cdn.dashjs.org/latest/dash.all.js"></script>-->
	<script src="/js/js.cookie.js"></script>
	<script src="/js/stream.js"></script>
	<script src="/js/chat.js"></script>
</body>
</html>