<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= name %> - KuubStream</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/site.css">
</head>
<body>
	<div id="container" data-channel="<%= name %>">
		<div id="main-col">
			<div id="player">Please wait while the player loads</div>
		</div>
		<div id="right-col">
			<div id="chat-header">
				<p id="room-title"><%= name %></p>
			</div>

			<div id="chat-login" style="display:none">
				<input type="text" id="chat-username" class="text-input" placeholder="Pick a username">
				<button id="chat-join" class="primary-button float-right">Join</button>
				<div id="login-error" class="float-left"></div>
			</div>

			<div id="chat-content">
				<div id="chat-messages">
					<div class="tse-scrollable">
						<div class="tse-content">
							<ul id="chat-lines">
								<li class="chat-line admin"><span class="message">Connecting..</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="chat-interface">
					<div id="chat-textarea-container">
						<textarea id="chat-textarea" class="text-input" placeholder="Send a message"></textarea>
					</div>
					<div id="chat-buttons" class="clearfix">
						<!--<button id="settings-button" class="primary-button-transparent float-left"><i class="fa fa-cog fa-2x"></i></button>-->
						<button id="chat-button" class="primary-button float-right">Chat</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/jquery.2.1.3.min.js"></script>
	<script src="js/jquery.trackpad-scroll-emulator.min.js"></script>
	<script src="jwplayer-7.2.4/jwplayer.js"></script>
	<script src="js/stream.js"></script>
</body>
</html>