<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= name %> - Chat</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/site.css">
</head>
<body>
	<div id="container" class="chat-container" data-channel="<%= name %>">
		<% include chat.ejs %>
	</div>

	<script src="/js/jquery.2.1.3.min.js"></script>
	<script src="/js/jquery.trackpad-scroll-emulator.min.js"></script>
	<script src="/js/js.cookie.js"></script>
	<script src="/js/chat.js"></script>
</body>
</html>